.article-preview {
    position: relative;
    max-width: 375px;
    border-radius: 1em;
    overflow: hidden;

    > .contentbox {
        padding: 2em;
        background-color: #fff;
    }

    @media only screen and (min-width: 768px) {
        max-width: 900px;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }
}